Installer/Installer.zip binary
.github/tools/bin/lpunpack binary

SM-M526B/*/firmware/* binary
SM-M526BR/*/firmware/* binary
SM-A528B/*/firmware/* binary
SM-A528N/*/firmware/* binary
SM-A736B/*/firmware/* binary
